{% extends 'emails/base.html' %}
{% block main %}
<tr>
  <td valign="middle" class="hero hero-2 bg_white" style="padding: 2em 0 4em 0;">
	<table>
		<tr>
			<td>
				<div class="text" style="padding: 0 2.5em; text-align: center;">
					<h2>{{ message }}</h2>
				</div>
			</td>
		</tr>
	</table>
  </td>
</tr><!-- end tr -->
{% for product in products %}
<tr>
  <td class="bg_white">
	<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
	  <tr>
		<td class="bg_light email-section" style="padding: 0; width: 100%;">
			<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
		  <td valign="middle" width="50%">
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
			  <tr>
				<td class="text-services" style="text-align: left; padding: 20px 30px;">
					<div class="heading-section">
									<h2 style="font-size: 22px;">{{ product.title }}</h2>
									<p>{{ product.description|truncatewords:10 }}</p>
									</div>
				</td>
			  </tr>
			</table>
		  </td>
		  <td valign="middle" width="50%">
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
			  <tr>
				<td>
				  <img src="{{ product.images.all.0.image.url }}" alt="" style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">
				</td>
			  </tr>
			</table>
		  </td>
		</tr>
			</table>
		</td>
	  </tr><!-- end: tr -->
	</table>
  </td>
</tr><!-- end:tr -->
{% endfor %}
{% endblock main %}
